@charset "UTF-8";

/* em HTML = id em css = # (so pode um elemento)*/
/* tudo que em HTML = class Em CSS= . (pode varios elementos) */

body{
    background-color: rgba(22, 250, 41, 0.856);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgba(46, 161, 55, 0.856);

}
h1#principal{
    text-align: center;

}

h2{
    color: rgba(98, 151, 102, 0.856);

}

.basico{
    color: rgba(98, 151, 102, 0.856);
}

.intermediario{
    color: rgba(238, 255, 3, 0.856);
}

.avancado{
    color: rgba(236, 5, 5, 0.856);
}